<div class='span5'>
  <h2><%= t('devise.form.sign_up') %></h2>
  <div class='well'>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit t('devise.form.sign_up') %>
    <% end %>
  </div>
  <%= render "links" %>
</div>
