<div class="tab-pane active" id="location-tab" >
  <header><h4>Место обитания</h4></header>
  <%= f.simple_fields_for :location, :build_association => true do |fl| %>
    <%= fl.input :address, :label => false do %>
      <%= input_prepend('icon-map-marker') do %>
        <%= fl.text_field :address, :placeholder => 'Адрес', :class => 'input-xxlarge' %>
      <% end %>
    <% end %>
    <div class="yandex-map">
      <%= add_location_to_map(@user.location) %>
    </div>
  <% end %>
</div>
