<%= simple_form_for @user, :html => { :class => "form-horizontal" } do |f| %>
  <div class='well'>
    <header>
       <div class='row'>
         <div class='span2'>
           <%= image_tag @user.existed_avatar, :alt => @user.name, :title => @user.name %>
           <%= f.input :avatar_cache, :as => :hidden %>
           <%= f.label :remove_avatar do %>
             <% if @user.uses_gravatar? %>
                <%= link_to 'Gravatar', 'http://gravatar.com/emails', :target => :blank %>
             <% else %>
                <%= f.check_box :remove_avatar %> Удалить аватар
             <% end %>
           <% end %>
           <%= f.file_field :avatar %>
           <%= f.text_field :remote_avatar_url, :placeholder => 'Url нового аватара из интернета' %>
         </div>
         <div class='span6'>
            <%= f.text_field :first_name, :placeholder => 'Имя' %>
            <%= f.text_field :last_name, :placeholder => 'Фамилия' %>
         </div>
       </div>
    </header>
    <hr>
    <section>
      <div class='row'>
        <div class='span4'>
          <strong>Контакты</strong>
          <%= f.text_field :email, :placeholder => 'Email' %>
        </div>
        <div class='span4'>
          <%= f.simple_fields_for :location do |fl| %>
            <strong>Место обитания</strong>
            <address>
              <%= fl.text_field :address, :placeholder => 'Адрес' %></br>
            </address>
          <% end %>
          <div class='yandex-map'></div>
          <%= add_location_to_map(@user.location) %>
        </div>
      </div>
    </section>
    <%= f.submit 'Сохранить изменения', :class => 'btn btn-primary' %>
    <%= link_to 'Отмена', user_path(@user), :class => 'btn btn-danger' %>
  </div>
<% end %>
