<div class="page-header"><h1>Список оппонентов</h1></div>
<ul class="well unstyled content-list">
  <% @users.each do |user| %>
    <div class="clearfix row">
      <div class="span1">
        <li>
          <%= link_to user do %>
            <%= image_tag user.existed_avatar, :alt => user.name, :title => user.name %>
          <% end %>
        </li>
      </div>
      <div class="span3">
        <li>
          <%= link_to user.name, user %>
        </li>
        <li>
          <%= mail_to user.email %>
        </li>
      </div>
      <div class="span2">
        <% user.sports.each do |sport| %>
          <li>
            <%= sport.name %>
          </li>
        <% end %>
      </div>
      <div class="span2">
        <%= user.address %>
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
</ul>
<%= will_paginate %>
