<div class='well'>
  <div class="page-header"><h1>Список оппонентов</h1></div>
  <ul class="unstyled">
    <% @users.each do |user| %>
      <li class=''>
        <div class="row">
          <div class="span1">
              <%= link_to user do %>
                <%= image_tag user.existed_avatar, :alt => user.name, :title => user.name %>
              <% end %>
          </div>
          <div class="span3">
            <ul class='unstyled'>
              <li><%= link_to user.name, user %></li>
              <li><%= mail_to user.email %></li>
              <li><%= link_to 'События пользователя', user_events_path(user) %></li>
              <li><%= link_to "#{user.name} участвует в событиях", user_visited_events_path(user) %></li>
              <% user.contacts.each do |c| %>
                <li><%= c.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="span2">
            <ul class='unstyled'>
              <% user.sports.each do |sport| %>
                <li><%= sport.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="span2">
            <%= user.address %>
          </div>
        </div>
        <hr />
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
