<div class='well'>
  <header>
     <div class='row'>
       <div class='span1'></div>
       <div class='span1'>
         <%= image_tag @user.avatar %>
       </div>
       <div class='span6'>
         <h2><%= @user.name %></h2>
       </div>
         <div class='span1'><%= link_to 'Редактировать', edit_user_path(@user) %></div>
     </div>
  </header>
  <section>
    <div class='row'>
      <div class='span5'>&nbsp;</div>
      <div class='span5'>
        <address>
          <%= @user.address %></br>
          <%= @user.city %></br>
        </address>
        <%= image_tag current_user.location.show_map %>
      </div>
    </div>
  </section>
</div>
