<div class='span5 well'>
  <h2><%= t('devise.form.forgot_password') %></h2>
  <hr>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'big-fields'}) do |f| %>
    <%= f.input :email %>
    <div class='centered'>
      <%= f.submit t('form.submit'), :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "links" %>
</div>
