<div class='span5'>
  <h2><%= t('devise.form.forgot_password') %></h2>
  <div class='well'>
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= f.input :email %>
      <%= f.submit t('devise.form.forgot_password') %>
    <% end %>
  </div>
  <%= render "links" %>
</div>
