<div class='row'>
  <div class='span12'>
    <div id="carousel" class="carousel slide">
      <div class='carousel-inner'>
        <% @slides.each do |s| %>
        <div class='item <%= 'active' if s == @slides.first %>'>
          <%= image_tag s.file, :alt => s.title %>
          <div class="carousel-caption">
            <h4><%= s.title %></h4>
            <p><%= s.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
    </div>
    <%= link_to t('connect'), login_new_path, :class => 'btn btn-large custom btn-primary' %>
  </div>
</div>
<hr>
<div class='row'>
  <div class='span4'>
    <h4>Преимущества сервиса</h4>
    <ul class='unstyled'>
      <li><span class='icon-check'></span>Hidhs</li>
    </ul>
  </div>
</div>
