<div class='row'>
  <div class='span12'>
    <div id="carousel" class="carousel slide">
      <div class='carousel-inner'>
        <% @slides.each do |s| %>
        <div class='item <%= 'active' if s == @slides.first %>'>
          <%= image_tag s.file, :alt => s.title %>
          <div class="carousel-caption">
            <h4><%= s.title %></h4>
            <p><%= s.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
    </div>
  </div>
</div>
<div class='hero-unit'>
  <h1>Не дай себя остановить!</h1>
  <p>
    <%= link_to t('connect'), new_user_registration_path, :class => 'btn btn-large btn-primary' %>
  </p>
  <div class='like-buttons'>
    <div class='item'>
      <div class="fb-like" data-href="http://neday.org" data-send="false" data-layout="button_count" data-width="180" data-show-faces="false" data-action="recommend" data-font="arial"></div>
    </div>
    <div class='item'>
      <g:plusone size="tall" annotation="inline" width="240"></g:plusone>
    </div>
    <div class='item'>
      <div id="vk_like"></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='span3'>
    <h3>Спортивные события</h3>
    <ul class='unstyled'>
      <li><span class='icon-ok'></span>Создание</li>
      <li><span class='icon-ok'></span>Управление</li>
      <li><span class='icon-ok'></span>Поиск</li>
      <li><span class='icon-ok'></span>Принятие участия</li>
    </ul>
  </div>
  <div class='span3'>
    <h3>Соучастники</h3>
    <ul class='unstyled'>
      <li><span class='icon-ok'></span>Регистрация</li>
      <li><span class='icon-ok'></span>Поиск</li>
      <li><span class='icon-ok'></span>Контакты</li>
    </ul>
  </div>
  <div class='span3'>
    <h3>Команды</h3>
    <ul class='unstyled'>
      <li><span class='icon-ok'></span>Создание</li>
      <li><span class='icon-ok'></span>Управление</li>
      <li><span class='icon-ok'></span>Поиск</li>
      <li><span class='icon-ok'></span>Присоединение</li>
    </ul>
  </div>
  <div class='span3'>
    <h3>Турниры</h3>
    <ul class='unstyled'>
      <li><span class='icon-ok'></span>Создание</li>
      <li><span class='icon-ok'></span>Управление</li>
      <li><span class='icon-ok'></span>Поиск</li>
      <li><span class='icon-ok'></span>Таблицы</li>
    </ul>
  </div>
</div>
