<%= simple_form_for @event, :html => { :class => "form-horizontal" } do |f| %>
  <div class="well">
    <div class="page-header"><h1>Создание нового</h1></div>
    <%= f.association :sport %>
    <%= f.input :max_number_members %>
    <%= f.input :venue do %>
      <div class="form-inline">
        <%= f.simple_fields_for :place, :build_association => true do |fp| %>
          <%= fp.label :name %>
          <%= fp.text_field :name %>
          <%= fp.simple_fields_for :location, :build_association => true do |fl| %>
           <%= fp.label :address %>
           <%= fl.text_field :address %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= f.input :time do %>
      <div class="form-inline">
        <%= f.label :start_at %>
        <%= f.text_field :start_at, :class=> 'datepicker' %>
        <%= f.label :duration %>
        <%= f.text_field :duration %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= link_to 'Создать', 'submit', :class => 'btn btn-primary' %>
      <%= link_to 'Отмена', user_path(current_user), :class => 'btn btn-danger' %>
    </div>
  </div>
<% end %>
