<div class="well">
  <header class="page-header">
    <h2>Событие</h2>
  </header>
  <div class="row">
    <div class="span4">
      <div>
        <div class="row">
          <div class="span1"><%= image_tag @event.sport.icon %></div>
          <div class="span3">
            <ul class="unstyled">
              <li><%= link_to @event.sport.name %></li>
              <li><%= @event.start_at %></li>
              <li><%= @event.start_at.strftime('%A') %></li>
              <li>
                <div class="datepicker" id="dp3" data-date="<%= @event.start_at %>" data-date-format="yyyy-dd-mm">
                  <input class="span2" size="16" type="text" value="<%= @event.start_at %>">
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="span6">
          <ul class="unstyled">
            <li>Длительность (в часах):<%= @event.duration %></li>
            <li>Будет участвовать:<%= @event.members.count %></li>
            <li>Необходимо участноков:<%= @event.max_number_members %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <p>Осталось времени:</p>
      <p><%= time_before_event(@event) %></p>
      <p>Необходимо человек:</p>
      <p><%= required_members(@event) %></p>
      <p><%= @event.place.name %></p>
      <div class="yandex-map">
      </div>
      <%= render :partial => 'add_remove_eventmember_button', :locals => {:event => @event} %>
    </div>
  </div>
</div>