<div class='span5 well'>
  <h2>Вход</h2>
  <hr>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'big-fields'}) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <div class='centered'>
      <%= f.submit 'Войти', :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "links" %>
</div>
