<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta itemprop="name" content="Neday - социальная сеть по организации спортивных мероприятий">
  <meta itemprop="description" content="Создавайте свои команды, находите партнеров по спорту, встечайтесь, организуйте соревнования, турниры">
  <title>Neday</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='main'>
    <nav>
      <div class='overlay'></div>
      <ul>
        <li class='active'><a href='#'>Главная</a></li>
        <li><a href='#'>События</a></li>
        <li><a href='#'>Оппоненты</a></li>
        <li><a href='#'>Турниры</a></li>
        <li><a href='#'>Команды</a></li>
      </ul>
    </nav>
  </header>
  <section class='main clear'>
    <section class='side'>
      <section class='bordered'>
        <header>
          <h3>Мое Пространство</h3>
        </header>
        <nav>
          <ul>
            <li class='active'>
              <a href='#'>Профайл</a>
            </li>
            <li>
              <a href='#'>События</a>
            </li>
            <li>
              <a href='#'>Турниры</a>
            </li>
            <li>
              <a href='#'>Регистриция</a>
            </li>
            <li>
              <a href='#'>Войти</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class='bordered'>
        <header>
          <h3>Зачетный сайт</h3>
        </header>
        <nav>
          <ul>
            <li>
              <div class="fb-like" data-href="http://neday.org" data-send="false" data-layout="button_count" data-width="240" data-show-faces="false" data-action="recommend" data-font="arial"></div>
            </li>
            <li>
              <g:plusone size="tall" annotation="inline" width="240"></g:plusone>
            </li>
            <li>
              <div id="vk_like"></div>
            </li>
          </ul>
        </nav>
      </section>
    </section>
    <%= yield %>
    <section class='side right'>
      <section class='bordered'>
        <header>
          <h3>Последние События</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class='bordered'>
        <header>
          <h3>Новые Команды</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>Футбол</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <small>Волейбол</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <small>Теннис</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class='bordered'>
        <header>
          <h3>Новые Турниры</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>Футбол</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <small>Волейбол</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <small>Теннис</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
    </section>
  </section>
  <div class='clear'></div>
  <footer class='main'>
    <p>Copyright © 2012, Neday</p>
  </footer>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=<%= Settings.fb.app_id %>";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">
    window.___gcfg = {lang: 'ru'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!-- Put this script tag to the <head> of your page -->
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?47"></script>

  <script type="text/javascript">
    VK.init({apiId: <%= Settings.vk.app_id %>, onlyWidgets: true});
  </script>

  <!-- Put this div tag to the place, where the Like block will be -->
  <script type="text/javascript">
  VK.Widgets.Like("vk_like", {type: "button", height: 24});
  </script>
</body>
</html>